<div class="clearfix">
    <select class='select-option float-right' (change)="shortById($event.target.value)">
        <option value="0">Short by ID</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
</div>
<!-- <div class="d-flex justify-content-end mb-3">
    <div class="p-2 bg-primary">
        <select class='select-option' (change)="shortById($event.target.value)">
            <option value="0">Short by ID</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </div>
</div> -->