<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-filters></app-filters>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <app-selected-filters></app-selected-filters>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 float-left">
                    <app-search (searchTextEmitter)="searchByName($event)"></app-search>
                </div>
                <div class="col-md-6 float-right">
                    <app-sort (filterOrderEmitter)="filterById($event)"></app-sort>
                </div>
            </div>
            <app-characters [filterOrderFromParent]="sortByIdFilter" [searchTextFromParent]="searchText">
            </app-characters>
        </div>
    </div>
</div>